@charset "utf-8";

main {
    margin-top: 200px;
}

header .menu {
    width: 70%;
}

.menu {
    background-color: rgb(206, 206, 206);
    position: fixed;
    top: 0px;
    right: 0px;
    border-radius: 10px;
}

.menu ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0px;
}

.menu2 {
    background-color: rgb(206, 206, 206);
    position: fixed;
    top: 0px;
    left: 0px;
    border-radius: 10px;
}

.menu2 ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0px;
}


#about1 .left,
.right {
    width: 50%;
}

#about1 {
    margin-top: 100px;
    display: flex;
    background-color: aliceblue;
}

h1,
img {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0;
}

p {
    margin-top: 10px;
    margin-left: 20px;
    letter-spacing: 3px;
    margin-bottom: 0;
    padding-bottom: 0;
}

table {
    border-collapse: collapse;
    margin-left: 20px;
}

th,
td {
    border: 2px, solid;
}

.right img {
    width: 65%;
}

.right {
    text-align: center;
}

h3 {
    margin-left: 10px;
}

.about1-imgs {
    display: flex;
}

.about1-imgs img {
    width: 25%;
}

body {
    background-image: url(./img/top背景画像.jpg);
    background-size: contain;
}

.menu a {
    text-decoration: none;
}

.menu a:hover{
    color: brown;
    font-size: large;
    background-color: aqua;
}

.menu2 a {
    text-decoration: none;
}

.menu2 a:hover{
    color: brown;
    font-size: large;
    background-color: aqua;
}


footer p {
    color: aliceblue;
    text-align: center;
}

footer {
    margin-top: 100px;
}

.menu2 li + li {
    border-left:solid 1px black;
}