@charset "utf-8";

/* 共通 */
html {
    font-size: 30px;
    background-color: black;
}

body {
    min-width: 1250px;
    overflow-x: auto;
}

p {
    font-family: 'DotGothic16', sans-serif;
    color: white;
}

h1 {
    font-family: 'DotGothic16', sans-serif;
    font-size: 4rem;
    color: #7BE888;
    text-align: center;
}

h2 {
    font-family: 'DotGothic16', sans-serif;
    color: white;
    font-size: 3rem;
}

h3 {
    font-family: 'DotGothic16', sans-serif;
    color: white;
    font-size: 2rem;
}

h4 {
    font-family: 'DotGothic16', sans-serif;
    color: white;
    font-size: 1rem;
}


/* トップ */
.borderDiv {
    border: 2px solid #ffffff;
    border-radius: 20px;
    width: 65%;
    margin: auto;
}

.topSection h1 {
    margin-top: 50px;
    margin-bottom: 20px;
}

.topSection table {
    margin: auto;
    width: 60%;
    text-align: center;
    margin-top: 50px;
}

.topSection tr {
    height: 100px;
}

.topSection .leftTd {
    font-family: 'DotGothic16', sans-serif;
    color: white;
    font-size: 1rem;
    display: inline;
    margin-right: 200px;
}

.topSection .rightTd {
    font-family: 'DotGothic16', sans-serif;
    color: white;
    font-size: 1rem;
    display: inline;
}

/* 自己紹介 */
.introductionSection {
    width: 93%;
    margin: 0 auto 0 auto;
}

.introductionSection h1 {
    margin-top: 3rem;
    margin-bottom: 0;
}

.aspirationSction h4 {
    margin: 2rem auto 5px;
    width: 70%;
}

.introductionSection p {
    font-size: 1rem;
    margin: 0 auto 2rem;
    width: 70%;
}

.miniIntroductionDiv {
    border: 2px solid #ffffff;
    border-radius: 20px;
    width: 70%;
    margin: 1rem auto 1rem auto;
}

.miniIntroductionDiv table {
    margin: auto;
}

.miniIntroductionDiv .tdH3 {
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 2rem;
}

.miniIntroductionDiv .tdGrayPtag {
    font-family: 'DotGothic16', sans-serif;
    color: #989898;
    padding-left: 50px;
}

.miniIntroductionDiv2 {
    width: 90%;
    margin: 1rem auto 1rem auto;
    display: flex;
}

.miniIntroductionDiv2 td {
    font-family: 'DotGothic16', sans-serif;
    color: white;
}

.true-name {
    font-family: 'DotGothic16', sans-serif;
    color: white;
    font-size: 20px;
}

/* スキル */
.skillSection {
    width: 84%;
    margin: auto;
}

.skillSection h1 {
    margin-top: 3rem;
    margin-bottom: 0;
}

.evaluationCriteriaDiv {
    width: 75%;
    margin: auto;
    border: 2px solid #ffffff;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    margin-top: 20px;
}

.evaluationCriteriaDiv div {
    display: flex;
}

.evaluationCriteriaDiv hr {
    height: 5px;
    background: linear-gradient(to right, white, #7BE888);
    width: 90%;
    margin-left: 0;
    border-radius: 10px;
}

.evaluationCriteriaDiv h4 {
    margin: 0;
    margin-top: 10px;
}

.evaluationCriteriaDiv p {
    width: 20%;
    text-align: left;
    margin: 0;
    font-size: 20px;
}

.evaluationCriteriaDiv .PtagBold {
    font-weight: bold;
}

.evaluationCriteriaDiv .PtagGray {
    color: #989898;
}

/* スキルの各項目 */
.tdSm {
    font-size: 20px;
}

.skillDiv {
    width: 80%;
    margin: 50px auto 50px auto;
}

.skillDiv p {
    margin: 0;
    padding: 0;
}

.skillDivItem1 {
    display: flex;
}

.skillDivItem2 {
    border: 2px solid #ffffff;
    border-radius: 20px;
    margin: 10px auto auto auto;
}

.skillDivItem2Item {
    width: 85%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.skillDivItem2Item div {
    margin: 20px auto 30px auto;
}

.skillDivItem2 table {
    font-family: 'DotGothic16', sans-serif;
    color: white;
}

.skillDivItem2 .table2 {
    color: #989898;
    font-family: 'DotGothic16', sans-serif;
    font-size: 20px;
}

.skillDivItem1IMG {
    width: 30%;
    border: 2px solid #ffffff;
    border-radius: 20px;
    margin: auto;
}

.skillDivItem1TEXT {
    width: 68%;
    border: 2px solid #ffffff;
    border-radius: 20px;
    text-align: center;
}

.databaseDiv div {
    width: 85%;
    margin: 20px auto 30px auto;
}

.databaseDivPHP div {
    width: 80%;
    margin: 0 auto 30px auto;
}

/* 保有資格 */
.sikakuDiv {
    width: 80%;
    margin: 0 auto 100px auto;
}

.sikakuDivItem1 {
    display: flex;
}

.sikakuDivItem1IMG {
    width: 30%;
    border: 2px solid #ffffff;
    border-radius: 20px;
    margin: auto;
}

.sikakuDivItem1TEXT {
    width: 68%;
    border: 2px solid #ffffff;
    border-radius: 20px;
    text-align: center;
}

.sikakuDivItem2 {
    border: 2px solid #ffffff;
    border-radius: 20px;
    margin: 10px auto auto auto;
}

.sikakuDivItem2 table {
    font-family: 'DotGothic16', sans-serif;
    color: white;
    font-size: 20px;
    margin: 20px auto 30px 70px;
}

/* 詳細ボタン */
.detailEvaluationBtn {
    font-family: 'DotGothic16', sans-serif;
    color: #989898;
    font-size: 15px;
    border-bottom: #989898 2px solid;
    display: inline;
}

#sourceTable {
    display: none;
}

#sourceTable.show {
    display: table;
}

/* 詳細ボタン2 */
.detailEvaluationBtn2 {
    font-family: 'DotGothic16', sans-serif;
    color: #989898;
    font-size: 15px;
    border-bottom: #989898 2px solid;
    display: inline;
}

#sourceTable2 {
    display: none;
}

#sourceTable2.show {
    display: table;
}

/* 詳細ボタン3 */
.detailEvaluationBtn3 {
    font-family: 'DotGothic16', sans-serif;
    color: #989898;
    font-size: 15px;
    border-bottom: #989898 2px solid;
    display: inline;
}

#sourceTable3 {
    display: none;
}

#sourceTable3.show {
    display: table;
}

/* 詳細ボタン4 */
.detailEvaluationBtn4 {
    font-family: 'DotGothic16', sans-serif;
    color: #989898;
    font-size: 15px;
    border-bottom: #989898 2px solid;
    display: inline;
}

#sourceTable4 {
    display: none;
}

#sourceTable4.show {
    display: table;
}

/* 詳細ボタン5 */
.detailEvaluationBtn5 {
    font-family: 'DotGothic16', sans-serif;
    color: #989898;
    font-size: 15px;
    border-bottom: #989898 2px solid;
    display: inline;
}

#sourceTable5 {
    display: none;
}

#sourceTable5.show {
    display: table;
}

/* 詳細ボタン6 */
.detailEvaluationBtn6 {
    font-family: 'DotGothic16', sans-serif;
    color: #989898;
    font-size: 15px;
    border-bottom: #989898 2px solid;
    display: inline;
}

#sourceTable6 {
    display: none;
}

#sourceTable6.show {
    display: table;
}

/* ラーメンヒストリー */
.ramanhistorySection {
    border: 2px solid #ffffff;
    border-radius: 20px;
    width: 65%;
    margin: auto;
}

.ramanhistorySection h3 {
    margin: 20px auto 0 auto;
    width: 90%;
}

.ramanhistorySection p {
    margin: 10px auto 0 auto;
    width: 90%;
}

.sliderItem {
    display: flex;
}

.sliderLeft {
    width: 50%;
}

.sliderLeft ul {
    height: 0;
}

.sliderLeft img {
    width: 90%;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.sliderRight {
    width: 50%;
}

.sliderRight h4 {
    font-size: 1rem;
    margin: 0;
}

.sliderRight p {
    font-size: 0.5rem;
    margin: 0;
}

.sliderRightText {
    display: flex;
}

/* 共通の矢印スタイル */
.slick-prev,
.slick-next {
    position: absolute;
    top: 45%;
    /* 垂直中央に配置 */
    transform: translateY(-50%);
    z-index: 10;
}

/* 左矢印（prev） */
.slick-prev {
    left: -20px;
    /* 左端からの距離を調整 */
}

/* 右矢印（next） */
.slick-next {
    right: 40px;
    /* 右端からの距離を調整 */
}

.slick-prev img,
.slick-next img {
    width: 40px;
    height: 40px;
}

.slick-prev::before,
.slick-next::before {
    content: none;
    /* 矢印の内容を消す */
    display: none;
    /* 要素自体を非表示にする */
}

/* ラーメンヒストリー */
.historyH1 {
    margin: 20px;
}

/* 開発物 */

.developmentTitleH1 {
    margin-top: 3rem;
    margin-bottom: 0;
}

.developmentSection {
    border: 2px solid #ffffff;
    padding: 20px;
    width: 63%;
    margin: auto;
    border-radius: 20px;
}

.developmentDiv h3,
.developmentDiv h4 {
    margin: 0;
}

.developmentDivItem {
    display: flex;
    margin-top: 20px;
    margin-bottom: 15px;
}

.developmentDivItem .imgDiv {
    width: 50%;
    margin: auto;
}

.sliderDiv {
    width: 100%;
}

.developmentDivItem img {
    width: 100%;
}

.developmentSection p {
    width: 50%;
    margin: 0;
    font-size: 20px;
}

.libraryTextSlider {
    font-family: 'DotGothic16', sans-serif;
    color: white;
    font-size: 20px;
}

/* 左矢印（prev） */
.developmentSection .slick-prev {
    left: -15px;
    /* 左端からの距離を調整 */
}

/* 右矢印（next） */
.developmentSection .slick-next {
    right: -15px;
    /* 右端からの距離を調整 */
}

.pokemon {
    font-size: 55px;
}

.pokemonDiv p {
    font-size: 16px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 20px;
}