@charset "utf-8";

/* 共通 */
html {
    font-size: 30px;
    background-color: black;
}

p {
    font-family: 'DotGothic16', sans-serif;
    color: white;
}

h1 {
    font-family: 'DotGothic16', sans-serif;
    font-size: 4rem;
    color: #7BE888;
    text-align: center;
}

h2 {
    font-family: 'DotGothic16', sans-serif;
    color: white;
    font-size: 3rem;
}

h3 {
    font-family: 'DotGothic16', sans-serif;
    color: white;
    font-size: 2rem;
}

h4 {
    font-family: 'DotGothic16', sans-serif;
    color: white;
    font-size: 1rem;
}

/* トップ */
.borderDiv {
    border: 2px solid #ffffff;
    border-radius: 20px;
    width: 70%;
    margin: auto;
}

.topSection h1 {
    margin-top: 50px;
    margin-bottom: 20px;
}

.topSection table {
    margin: auto;
    width: 60%;
    text-align: center;
    margin-top: 50px;
}

.topSection tr {
    height: 100px;
}

.topSection .leftTd {
    font-family: 'DotGothic16', sans-serif;
    color: white;
    font-size: 1rem;
    display: inline;
    margin-right: 200px;
}

.topSection .rightTd {
    font-family: 'DotGothic16', sans-serif;
    color: white;
    font-size: 1rem;
    display: inline;
}

/* 自己紹介 */
.introductionSection h1 {
    margin-top: 3rem;
    margin-bottom: 0;
}

.aspirationSction h4 {
    margin: 2rem auto 5px;
    width: 70%;
}

.introductionSection p {
    font-size: 1rem;
    margin: 0 auto 2rem;
    width: 70%;
}

.miniIntroductionDiv {
    border: 2px solid #ffffff;
    border-radius: 20px;
    width: 70%;
    margin: 1rem auto 1rem auto;
}

.miniIntroductionDiv table{
    margin: auto;
}

.miniIntroductionDiv .tdH3 {
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 2rem;
}

.miniIntroductionDiv .tdGrayPtag {
    font-family: 'DotGothic16', sans-serif;
    color: #989898;
    padding-left: 50px;
}

.miniIntroductionDiv2 {
    width: 90%;
    margin: 1rem auto 1rem auto;
    display: flex;
}

.miniIntroductionDiv2 td {
    font-family: 'DotGothic16', sans-serif;
    color: white;
}

/* スキル */
.skillSection h1 {
    margin-top: 3rem;
    margin-bottom: 0;
}

.evaluationCriteriaDiv {
    width: 75%;
    margin: auto;
    border: 2px solid #ffffff;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    margin-top: 20px;
}

.evaluationCriteriaDiv div {
    display: flex;
}

.evaluationCriteriaDiv hr {
    height: 5px;
    background: linear-gradient(to right, white, #7BE888);
    width: 90%;
    margin-left: 0;
    border-radius: 10px;
}

.evaluationCriteriaDiv h4 {
    margin: 0;
    margin-top: 10px;
}

.evaluationCriteriaDiv p {
    width: 20%;
    text-align: left;
    margin: 0;
    font-size: 20px;
}

.evaluationCriteriaDiv .PtagBold {
    font-weight: bold;
}

.evaluationCriteriaDiv .PtagGray {
    color: #989898;
}